<ion-header>
  <ion-toolbar>
    <ion-title>Module 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="square" id="submod1" (click)="goTo('mod3/submod31')">Go to submod 1</div>
    <div class="square" id="submod2" (click)="goTo('mod3/submod32')">Go to submod 2</div>
    <div class="square" id="submod3" (click)="goTo('mod3/submod33')">Go to submod 3</div>
    <div class="square" id="submod4" (click)="goTo('mod3/submod34')">Go to submod 4</div>
  </div>
</ion-content>
