.square {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    padding: 50px 40px;
    margin: 25px;
    position: relative;
    float: left;
    font-family: "Helvetica";
}

#submod1 {
    background-color: #00b1c1e5
}

#submod2 {
    background-color: #00b1c1c0
}

#submod3 {
    background-color:  #00b1c1a1
}

#submod4 {
    background-color:  #00b1c17c
}