<ion-header>
  <ion-toolbar>
    <ion-title>Module 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="square" id="submod1" (click)="goTo('mod4/submod41')">Go to submod 1</div>
    <div class="square" id="submod2" (click)="goTo('mod4/submod42')">Go to submod 2</div>
    <div class="square" id="submod3" (click)="goTo('mod4/submod43')">Go to submod 3</div>
    <div class="square" id="submod4" (click)="goTo('mod4/submod44')">Go to submod 4</div>
  </div>
</ion-content>
