.square {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    padding: 50px 40px;
    margin: 25px;
    position: relative;
    float: left;
    font-family: "Helvetica";
}

#submod1 {
    background-color: #f87224e5
}

#submod2 {
    background-color: #f87224c0
}

#submod3 {
    background-color:  #f87224a1
}

#submod4 {
    background-color:  #f872247c
}