.square {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    padding: 50px 40px;
    margin: 25px;
    position: relative;
    float: left;
    font-family: "Helvetica";
}

#submod1 {
    background-color: #c9da2be5
}

#submod2 {
    background-color: #c9da2bc0
}

#submod3 {
    background-color:  #c9da2ba1
}

#submod4 {
    background-color:  #c9da2b7c
}